.Logo {
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 5rem;
  width: 5rem;
  align-items: center;
  justify-content: center;
}

.Logo:hover {
  -webkit-filter: invert(100%) !important;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

@media screen and (max-width: 900px) {
  .Logo:hover {
    -webkit-filter: invert(0%) !important;
      animation-name: none;
      /* animation-duration: 5000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear; */
  }
}